<h1>商品編集</h1>

<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました。
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "商品一覧へ", admin_items_path %></p>
<p><%= link_to "商品詳細へ", admin_item_path(@item.id) %></p>

<%= form_with model: @item, url: admin_item_path do |f| %>
<p>
  <%= f.label :商品画像 %><br>
  <%= f.file_field :image, accept: "image/*" %>
</p>

<p>
  <%= f.label :ジャンル %>
  <%= f.collection_select :genre_id, @genres, :id, :name %>
</p>

<p>
  <%= f.label :商品名 %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :税抜価格 %><br>
  <%= f.text_field :price %>円
</p>

<p>
  <%= f.label :商品説明文 %><br>
  <%= f.text_area :introduction %>
</p>

<p>
  <%= f.label :販売ステータス %><br>
  <%= f.check_box :is_active, checked_value: true, unchecked_value: false %>
  <%= f.label :"販売中" %>
</p>

  <%= f.submit "更新" %>
  
<% end %>
