<div class="container">
   <h4 class="p-3 d-inline-block" style="background-color: #CCCCCC; margin-bottom: 40px;">
    商品編集
   </h4>
</div>
<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました。
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @item, url: admin_item_path do |f| %>
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
     <table>
      <tr>
         <th>
           <p class="text-left  mt-2 mb-2">
             <%= f.label :商品画像 %>
           </p>
         </th>
         <td  style="padding-left: 15px;">
           <p><%= f.file_field :image, accept: "image/*", class: "form-control-lg", style: "width: 500px;" %></p>
         </td>
      </tr>
      <tr>
         <th>
           <p class="text-left  mt-2 mb-2">
             <%= f.label :商品名 %>
           <p>
         </th>
         <td style="padding-left: 30px;">
           <p><%= f.text_field :name, class: "form-control-lg", style: "width: 500px;", placeholder: "商品名" %></p>
         </td>
      </tr>
      <tr>
         <th>
           <p style="margin-top: -90%;"><%= f.label :商品説明文 %><p>
         </th>
         <td style="padding-left: 30px;">
           <p><%= f.text_area :introduction,class: "form-control-lg", style: "width: 500px;height: 200px;", placeholder: "ここに説明文を記述します" %></p>
         </td>
      </tr>
      <tr>
         <th>
           <p class="text-left  mt-2 mb-2"><%= f.label :ジャンル %><p>
         </th>
         <td>
           <p style="padding-left: 30px;">
             <%= f.collection_select :genre_id, @genres, :id, :name, {prompt: '-選択してください--'} ,class: "form-control-lg ", style: "width: 500px;" %>
           </p>
         </td>
      </tr>
      <tr>
         <th>
           <p  class="text-left  mt-2 mb-2">
             <%= f.label :税抜価格 %>
           <p>
         </th>
         <td>
           <p style="padding-left: 30px;">
             <%= f.text_field :price %>円
           </p>
         </td>
      </tr>
      <tr>
         <th>
           <p><%= f.label :販売ステータス %><p>
         </th>
         <td>
           <p>
             <%= f.check_box :is_active, checked_value: true, unchecked_value: false %>
             <%= f.label :"販売中" %>
          </p>
         </td>
      </tr>
     </table>
    </div>
  </div>
</div>
<p class="text-center">
  <%= f.submit "更新", class: "btn btn-success btn-lg" %>
</p>
<% end %>

<p class="text-center"> 
  <%= link_to "商品一覧へ", admin_items_path, class: "btn btn-primary btn-lg" %>
  /
  <%= link_to "商品詳細へ", admin_item_path(@item.id), class: "btn btn-primary  btn-lg" %>
</p>
