<div class="container">
   <h4 class="p-3 d-inline-block" style="background-color: #CCCCCC; margin-bottom: 40px;">
     商品詳細
   </h4>
</div>

<div class="container">
<p>
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size:"200x200" %>
  <% else %>
    <%= image_tag "no-image", size:"200x200" %>
  <% end %>
</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
     <table style="margin-top: -23%;">
        <tr>
           <th>
             <p>商品名</p>
           </th>
           <td>
             <p ><%= @item.name %></p>
           </td>
        </tr>
        <tr>
           <th>
             <p>商品説明</p>
           </th>
           <td>
             <p><%= @item.introduction %></p>
           </td>
        </tr>
        <tr>
           <th>
             <p>ジャンル</p>
           </th>
           <td>
             <p><%= @item.genre.name %></p>
           </td>
        </tr>
        <tr>
           <th>
             <p>
               税込価格<br>
               (税抜価格)
             </p>
           </th>
           <td>
             <p>
               <%=  (@item.price * 1.1).round %> （<%= @item.price %>）円
             </p>
           </td>
        </tr>
        <tr>
           <th>
             <p>販売ステータス</p>
           </th>
           <td>
               <% if @item.is_active %>
                  <p class="text-success">販売中</p>
               <% else %>
                  <p  class="text-danger">販売停止</p>
               <% end %>
           </td>
        </tr>
        <tr>
           <th>
             <p>作成日時<%= @item.created_at %></p>
           </th>
        </tr>
        <tr>
           <th>
             <p>更新日時<%= @item.updated_at %></p>
           </th>
        </tr>
    
     </table>
    </div>
  </div>
 </div>
 
 <p class="text-center">
    <%= link_to "編集", edit_admin_item_path(@item.id), class: "btn btn-success btn-lg" %>
    /
    <%= link_to "削除", admin_item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" } , class: "btn btn-danger btn-lg"%>
 </p>
 
 <p class="container">
    <%= link_to "商品一覧へ", admin_items_path , class: "btn btn-primary btn-lg"%>
 </p>