<div class="container">
   <h4 class="p-3 d-inline-block" style="background-color: #CCCCCC; margin-bottom: 40px;">
     商品詳細
   </h4>
</div>

<div class="container">
 <div class="row">
  <div class="col-md-4">
    <p>
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size:"200x200" %>
      <% else %>
        <%= image_tag "no-image", size:"200x200" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-8">
    <div class="container">
      <div class="row">
        <div style="display: flex; margin-bottom: 20px;">
          <span style="margin-left: 23px;">
             商品名
          </span>
          <span style="margin-left: 135px;"> 
             <p ><%= @item.name %></p>
          </span>
        </div>
      </div>
      <div class="row">
        <div style="display: flex; margin-bottom: 20px;">
          <span style="margin-left: 23px;">
            商品説明
          </span>
          <span style="margin-left: 120px;">
             <p><%= @item.introduction %></p>
          </span> 
        </div>
      </div>
      <div class="row">
        <div style="display: flex; margin-bottom: 20px;">
          <span style="margin-left: 23px;">
             ジャンル
          </span>
          <span style="margin-left: 120px;">
             <%= @item.genre.name %>
          </span> 
        </div>
      </div>
      <div class="row">
        <div style="display: flex; margin-bottom: 20px;">
          <span style="margin-left: 23px;"> 
             税込価格<br>
             (税抜価格)
          </span>
          <span style="margin-left: 105px;">
               <%=  (@item.price * 1.1).round %> （<%= @item.price %>）円
          </span> 
        </div>
      </div>
      <div class="row">
        <div style="display: flex; margin-bottom: 20px;">
          <span style="margin-left: 23px;"> 
             販売ステータス
          </span>
          <span style="margin-left: 70px;">
               <% if @item.is_active %>
                  <p class="text-success">販売中</p>
               <% else %>
                  <p  class="text-danger">販売停止</p>
               <% end %>
          </span> 
        </div>
      </div>
             <p>作成日時<%= @item.created_at %></p>
       
             <p>更新日時<%= @item.updated_at %></p>
       
   </div>
  </div>
</div>
 
 <p class="text-center">
    <%= link_to "編集", edit_admin_item_path(@item.id), class: "btn btn-success btn-lg" %>
    /
    <%= link_to "削除", admin_item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" } , class: "btn btn-danger btn-lg"%>
 </p>
 
 <p class="container">
    <%= link_to "商品一覧へ", admin_items_path , class: "btn btn-primary btn-lg"%>
 </p>