<div class="code-container">
  <div style="text-align: center;">
    <h4>
      ようこそながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </h4>

    <div style="display: flex; justify-content: center;">
      <h3>新着商品</h3>
      <% @items.last(4).each do |item| %>
        <div style="display: inline-block; text-align: center; margin: 10px;">
          <%= link_to item_path(item.id) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size:"100x100" %>
            <% else %>
              <%= image_tag "no-image", size:"100x100" %>
            <% end %>
          <% end %><br>
          <%= item.name %><br>
          ¥<%= item.price %>
        </div>
      <% end %>
    </div>

    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
</div>