<div class="container">
  <h4 class="p-3 d-inline-block" style="background-color: #CCCCCC; margin-bottom: 40px;">
   <%= @title %>
  </h4>
  <div>
    <%= form_with url: admin_customers_path, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>

 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="text-left">会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
       
      <tbody>
        <% @customers.each do |customer| %>
      
          <tr>
            <td><%= customer.id %></td>
            <td  style="text-decoration: underline; color: black;">
              <%= link_to customer.family_name + customer.first_name, admin_customer_path(customer.id), style: "color: #000000;" %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == true %>
                <p class = "text-success">有効</p>
              <% else %>
                <p class = "text-danger">退会</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
 </div>
  <%= paginate @customers %>
</table>

