<div class="container">
   <h4 class="p-3 d-inline-block" style="background-color: #CCCCCC; margin-bottom: 40px;">
     配送先編集
   </h4>
</div>
<%= form_for @address, url: address_path(@address), method: :patch do |f| %>

<div class="container">
    <div class="row">
      <div style="display: flex; margin-bottom: 20px;">
        <span style="margin-left: -50px;">
          <%= f.label :postal_code, "郵便番号" %>
        </span>
        <span style="margin-left: 90px;"> 
         <%= f.text_field :postal_code, class: "form-control", autofocus: true, autocomplete: "postal_code", style: "width: 450px;" %>
        </span>
      </div>
    </div>
    <div class="row">
      <div style="display: flex; margin-bottom: 20px;">
        <span style="margin-left: -50px;"> 
          <%= f.label :address, "住所" %>
        </span>
        <span style="margin-left: 120px;"> 
          <%= f.text_field :address, class: "form-control", autofocus: true, autocomplete: "address", style: "width: 800px;"  %>
        </span>
      </div>
    </div>
    <div class="row">
      <div style="display: flex; margin-bottom: 20px;">
        <span style="margin-left: -50px;"> 
          <%= f.label :name, "宛名" %>
        </span>
        <span style="margin-left: 120px;"> 
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name", style: "width: 450px;"  %>
        </span>
      </div>
    </div>

<div class="text-center">
<%= f.submit "変更内容を保存", class:"btn btn-primary  btn-lg" %>
</div>
<% end %>