<h1>注文情報確認画面</h1>
<style media="screen">
  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px #333 solid;
    padding: 8px;
  }
</style>
<div style="display: flex; flex-direction: row;">
  <table style="margin-right: 10px;">
      <!--横に表示-->
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
       <% @total = 0 %>
       <%= @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag(item.image, size: "100x100") %>
            <%= cart_item.item.item_name %>
          </td>
          <td>
            <%= cart_item.item.with_tax_price %>
          </td>
          <td>
             <%= cart_item.amount %>
          </td>
          <% sub_total = cart_item.item.with_tax_price * cart_item.amount %>
          <td>
            <%= sub_total %>
          </td>
          <% @total += sub_total %>
        </tr>
      <% end %>
    </table>
    
    <table>
    
      <tr>
        <th>送料</th>
        <td>800</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @total ? @total + 800 : 0 %></td>
      </tr>
    </table>
</div>
<h4>支払方法</h4>

<%= @order.payment_method== "credit_card" ? "クレジットカード" : "銀行振込" %> 

<h4>お届け先</h4>
郵便番号
<p><%= @order.postal_code %></P>
住所
<p><%= @order.address %></p>
宛先
<p><%= @order.name %></p>

<%= form_for  @order,url: '/orders/thanks'  do |f| %>
<%= f.submit "注文を確定する" %>
<% end %>