<h1>注文情報確認画面</h1>
<style media="screen">
  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px #333 solid;
    padding: 8px;
  }
</style>
<div style="display: flex; flex-direction: row;">
  <table style="margin-right: 10px;">
      <!--横に表示-->
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
       <% @total = 0 %>

       <% @cart_items.each do |cart_item| %>

        <tr>
          <td>
            <% if cart_item.item.image.attached? %>
              <%= image_tag cart_item.item.image, size:"100x100" %>
            <% else %>
              <%= image_tag "no-image", size:"100x100" %>
            <% end %>  
            <%= cart_item.item.name %>
          </td>
          <td>
            <%= cart_item.with_tax_price %>
          </td>
          <td>
            <%= cart_item.amount %>
          </td>
            <% sub_total = cart_item.with_tax_price * cart_item.amount %>
          <td>
            <%= sub_total %>
          </td>
          <% @total += sub_total %>
        </tr>
      <% end %>
    </table>
    
    <table>
    
      <tr>
        <th>送料</th>
        <td>800</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @total %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @total ? @total + 800 : 0 %></td>
      </tr>
    </table>
</div>
<h4>支払方法</h4>

<% if params[:order][:address_o].present? %>
  <% if @order.payment_method == "credit_card" %>
    クレジットカード
  <% else %>
    銀行振込
  <% end %>
<% end %>


<h4>お届け先</h4>
郵便番号
<p><%= @order.postal_code %></P>
住所
<p><%= @order.address %></p>
宛先
<p><%= @order.name %></p>

<%= form_with model: @order do |f| %>
　<%= hidden_field_tag :postal_code, @order.postal_code %>
  <%= hidden_field_tag :address, @order.address %>
  <%= hidden_field_tag :name, @order.name %>
  
  <%= f.submit "注文を確定する" %>
<% end %>