<h1 class="display-4">注文情報入力</h1>

<% if @order.errors.any? %>
  <div class="alert alert-danger">
    <%= @order.errors.count %>件のエラーが発生しました。
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
  <div>
    <h2>支払い方法</h2>
    <div class="form-check">
      <%= f.radio_button :payment_method, "credit_card", :checked => true, class: "form-check-input" %>
      <%= f.label :payment_method, "クレジットカード", class: "form-check-label" %>
    </div>
    <div class="form-check">
      <%= f.radio_button :payment_method, "transfer", class: "form-check-input" %>
      <%= f.label :payment_method, "銀行振込", class: "form-check-label" %>
    </div>
  </div>

  <div>
    <h2>配送先</h2>
    <div class="mb-3">
      <div>
        <strong>
          <%= f.radio_button :address_o, 0, :checked => true, class: "form-check-input" %>
          ご自身の住所
        </strong>
      </div>
      <span><%= current_customer.postal_code %></span>
      <span><%= current_customer.address %></span>
    </div>

    <% if current_customer.addresses.present? %>
      <div class="mb-3">
        <div>
          <strong>
            <%= f.radio_button :address_o, 1, class: "form-check-input" %>
            登録済み住所
          </strong>
        </div>
        <span><%= f.collection_select :address_id, current_customer.addresses, :id, :address, {}, {class: "form-control"} %></span>
      </div>
    <% end %>

    <div class="mb-3">
      <div>
        <strong>
          <%= f.radio_button :address_o, 2, class: "form-check-input" %>
          新しいお届け先
        </strong>
      </div>
      <table>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code, class: "form-control" %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, class: "form-control" %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
      </table>
    </div>
    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  </div>
<% end %>