<h1>注文情報入力画面</h1>
<%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
    <h2>支払い方法</h2>
   
   <div>
     <%= f.radio_button :payment_method, "credit_card" %>
     <%= f.label :payment_method, "クレジットカード" %>
     <br>
     <%= f.radio_button :payment_method, "transfer" %>
     <%= f.label :payment_method, "銀行振込" %>
   </div>
   
    <h2>配送先</h2>
     <p><%= f.radio_button :address, 1 %>自身の住所</p>
       <!--current_customer.address,--> <!--１の前に書く-->
      <% # current_customer.postal_code %>
      <% # current_customer.address %>
      <% # current_customer.neme %>
       
      
      <h2>登録済み住所</h2>
     <p> <%= f.radio_button :address, 2 %>登録済み住所</p>
     <!--<p> f.collection_select :address, current_customer.addresses.all, :id, :address </p>-->
          <!--<%=%>を上につける-->
     <h2>新しいお届け先</h2>
      <p> <%= f.radio_button :address, 3 %>新しいお届け先</p>
    
      <table>
        <tr>
          <td>郵便番号</td>
          <td> <%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name %></td>
        </tr>
      </table>
    <%= f.submit "確認画面へ進む" %>
<% end %>