<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span><%= image_tag "shortcake_icon", size:"50x30" %></span></a>
      <ul class="navbar-nav">
        <% if customer_signed_in? %>
          <div class="mt-3 mr-5 text-white">
            <i class="fas fa-sign-language"></i>ようこそ、<%= current_customer.family_name + current_customer.first_name %>さん!
          </div>
          <li class="nav-item">
            <%= link_to customer_path(current_customer), class: "nav-link text-light"  do %>
              <i class="fab fa-ello"></i>マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link text-light" do %>
              <i class="fas fa-cheese"></i>商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to cart_items_path, class: "nav-link text-light" do %>
              <i class="fas fa-shopping-cart"></i>カート
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
              <i class="fas fa-door-open"></i>ログアウト
            <% end %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_items_path, class: "nav-link text-light" do %>
              商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_customers_path, class: "nav-link text-light" do %>
              会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_path, class: "nav-link text-light" do %>
              注文履歴一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: "nav-link text-light" do %>
              ジャンル一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
              ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link text-light" do %>
              About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link text-light" do %>
              商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>
              新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
              ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>